absl-py
altair
asttokens
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
exceptiongroup
executing
Flask
flatbuffers
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
numpy
opencv-python
opt-einsum
optree
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
six
smmap
stack-data
tenacity
tensorboard
tensorboard-data-server
tensorflow
protobuf
streamlit
tensorflow-io-gcs-filesystem
termcolor
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
wrap
gunicorn
flask
